<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" src="text/css" href="style.css">
        <title>Google Drive</title>
    </head>
    <body>
        <div class="wrapper">
            <form class="form-wrapper" action="/" method="POST">
                <input type="text" name="name" id="searchtext">
                <button type="submit">Search</button>
            </form>
            <ul class="filelist">
                <% if(listFiles.length > 0) { %>
                    <% for(let i=0; i<listFiles.length; i++) { %>
                        <li class="fileitem" id=<%= listFiles[i].id %>><%= listFiles[i].name %></li>
                    <% } %> 
                <% } else { %>
                        <li class="filenone">No file found.</li>
                <% } %>
            </ul>
        </div>
    </body>
    <script type="text/javascript" src="script.js"></script>
</html>